.timeline {
  display: flex;
  flex-direction: column;
  width: 50px;
  background-color: #fafafa;
}

.timeline span {
  margin-bottom: 30px;
}

.calendar-timeline-container {
  display: flex;
}

.calendar-column-container {
  width: 300px;
}

.meal-container {
  border: 1px solid #ddd;
  position: absolute;
  width: 200px;
}

.meal-container p {
  margin: 0;
}

.drag-handle {
  background-color: #5d80df;
  cursor: move;
}

/* 1hr = 50px */
